<div class="siteName">
    <a href="/" class="brand-logo"> <img class="logoBlack" src="/images/logo.svg" alt="LOGO"></a>
    <h1>HOME DECORATION</h1>
</div>

<nav class="nav-extended blue-grey darken-1">
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="<% if (active === 'main') { %>active<%}%>" href="/">Items</a></li>
        <li class="tab"><a class="<% if (active === 'notes') { %>active<%}%>" href="/notes">Notes</a></li>
      </ul>
      <button type="button" class="btn makeOrder">Make order</button>
    </div>
</nav>
