<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <section class="sectionOrder">
        <%- include('./partials/makeOrder'); %>
    </section>

    <div class="mainBody">
        <section class="sectionGoods z-depth-3">
            <div class="goodsList"></div>
        </section>
    </div>

    <footer>
        <div>Ukraine. Kyiv. June 2021</div>
    </footer>

    <script src="/javascripts/app.js"></script>
</body>
</html>