<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>


    <div class="mainBody">
        <section class="insideSection z-depth-3">

        </section>
    </div>

    <footer>
        <div>Ukraine. Kyiv. June 2021</div>
    </footer>
    
</body>
</html>